*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#root {
  /* max-width: 1280px; */

  /* margin: 0 auto; */
  /* padding: 2rem; */

  text-align: center;
}

.loginHeader{
  font-size: 2rem;
  margin: 0.5em;
}



.loginPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  background: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.3)
    ),
    url(../src/assets/images/mountains.jpg);
  background-size: cover;
  background-position: center;
  padding: 2em;
}

form{
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2em 4em;
  border-radius: 10px;
}

.formInput{
  display: flex;
  flex-direction: column;
  width: 280px;
}

input {
  padding: 15px;
  margin: 10px 0px;
  border-radius: 5px;
  border: 1px solid gray;
}

.submit{
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: #663399;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}


label{
  font-size: 12px;
  color: gray;
  text-align: left;
  font-size: 1rem;
}

span{
  font-size: 0.9rem;
  padding: 3px;
  color: red;
  text-align: left;
  display: none;
}

input:invalid[focused="true"]{
  border: 1px solid red;
}

input:invalid[focused="true"] ~ span{
  display: block;
}

/* input:invalid{
  border: 1px solid red;
}

input:invalid ~ span{
  display: block;
} */


.homeSection{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100dvh;
  background: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.3)
    ),
    url(../src/assets/images/trees.jpg);
  background-size: cover;
  background-position: center;
  padding: 2em;
}


.homeSection > div{
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2em;
  font-size: 1.3rem;
  border-radius: 10px;
}